bin/
core/obj/
api/obj/
api/python/api_wrap.cxx
api/python/obj
test/obj/
test/main.cpp
api/python/api_wrap.cxx
api/python/obj
shyft/api.py
test/python/state_test.yaml
*.layout
*.depend
*.gch
*.pyc
*.swp
*.obj
*.exe
*.lib
*.a
*.so
Debug
x64
Release
runner.cpp
api_wrap.cpp
*.suo
*.sdf
ipch
*.opensdf
*.exp
*.pdb
*.pyd
*.intermediate.manifest
