bin/
core/obj/
api/obj/
api/python/obj
test/obj/
test/main.cpp
api/python/obj
test/python/state_test.yaml
*.layout
*.depend
*.gch
*.pyc
*.swp
*.obj
*.exe
*.lib
*.a
*.so
Debug
x64
Release
runner.cpp
api_wrap.cpp
*.suo
*.sdf
ipch
*.opensdf
*.exp
*.pdb
*.pyd
*.intermediate.manifest
*.ilk
shyft/tests/netcdf/state.yaml
shyft/api.py
shyft/pt_gs_k.py
shyft/pt_ss_k.py
api/python/pt_ss_k_wrap.cxx
api/python/pt_ss_k_wrap.cpp
api/python/pt_gs_k_wrap.cxx
api/python/pt_gs_k_wrap.cpp
api/python/api_wrap.cxx
api/python/api_wrap.cpp


